html,
body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.app h1 {
  display: flex;
  justify-content: center;
}

.app .add-form {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.app table tr .actions {
  display: flex;
  gap: 10px;
}
